<section>
    <div class="container">

        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="text-center note-heading">Notes App</h1>
                <hr/>
            </div>
        </div>

    <div class="row mt-5">

        <div class="col-md-6 offset-md-3">
            <form (ngSubmit)="onSubmit()">
                <label for="title" class="form-label">Title:</label>
                <input class="form-control mb-4" [(ngModel)] = "title" name="title" id="title" type="text">
                <label for="text" class="form-label">Note:</label>
                <textarea class="form-control mb-4" [(ngModel)]="text" name="text" id="text" rows="3"></textarea>

                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)] = "mark-important">
                <label class="form-check-label ms-3" for="flexCheckDefault">
                  Mark as important
                </label>

                <button class="submit-btn btn btn-outline-secondary mt-5 px-5" routerLink = "/notes" type="submit">Save Note</button>

            </form>
        </div>

    </div>
        
    </div>
</section>

