<div class="container">
  <button class="btn btn-primary" (click)="getPosts()">Get Posts</button>
</div>

<!-- <button class="btn btn-primary" (click)="getPosts()">Get Posts</button> -->
<div *ngFor="let post of posts | async">
  {{post | json}}

</div>

<button (click)="createPost()">Create Post</button>

{{newPost | async | json}}

<div *ngIf="test; else elseBlock">
    <h2>Render this if test is true</h2>
</div>

<ng-template #elseBlock>
  <h2>Render this if test is false</h2>
</ng-template>

<div *ngFor="let message of messages">
  <h3>{{message.heading}}</h3>
  <p>{{message.message}}</p>
</div>

<p [class.green]="true">This is a test paragraph</p>
<p [ngClass]="'red'">This is another test paragraph</p>

<router-outlet></router-outlet>
