<div class="container">
  <button class="btn btn-primary" (click)="getPosts()">Get Posts</button>
</div>

<!-- <button class="btn btn-primary" (click)="getPosts()">Get Posts</button> -->
<div *ngFor="let post of posts | async">
  {{post | json}}

</div>

<button (click)="createPost()">Create Post</button>

{{newPost | async | json}}

<div *ngIf="test; else elseBlock">
    <h2>Render this if test is true</h2>
</div>

<ng-template #elseBlock>
  <h2>Render this if test is false</h2>
</ng-template>

<router-outlet></router-outlet>
