<!-- <a routerLink="/about">About</a> -->
<!-- <app-carousel></app-carousel> -->
<div>
  <h1>Hello</h1>
</div>
<div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
    </label>
  </div>
  <hr>

<router-outlet></router-outlet>
