<section>
    <div class="container">

        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="text-center note-heading">Notes App</h1>
                <hr/>
            </div>
   

    <div class="row mt-5 notes-div mx-auto">

        <div class=" my-3 " *ngFor="let note of notes">

            <div class="note-title mt-3">
    
                <h2>{{note.title}}</h2>
    
            </div>
    
            <div class="note-text">
    
                <p>{{note.note}}</p>

                <a href=""><i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-lg fa-trash-o ms-3" aria-hidden="true"></i></a>
                
                
            </div>

        </div>

        <div>
            <button class="add-btn btn btn-outline-secondary my-5 px-5" routerLink = "/add-note" type="submit">Add Note</button>
        </div>

    </div>


</div>
    
        
</div>