<section>
    <div class="container">

        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="text-center note-heading">Notes App</h1>
                <hr/>
            </div>
   

    <div class="row mt-5 notes-div mx-auto">

        <div class=" my-3 " *ngFor="let note of notes">

            <div class="note-title">
    
                <h2>{{note.title}}</h2>
    
            </div>
    
            <div class="note-text">
    
                <p>{{note.text}}</p>
    
            </div>
    
        </div>

    </div>

</div>
    
        
</div>