.note-heading{
    color: #BB8125;
}

.notes-div{
    border : 0.063rem solid grey;
    width: 50%;
}
i{
    cursor: pointer;
}

i:hover{
    padding: 0.3rem;
    background-color: #fcfcfc;
}

.block{
    display: block;
}
